# PartB: Regression Problem

## 0. Read Data

In [2]:
import pandas as pd
data = pd.read_csv("./data/admission_predict.csv")
data = pd.DataFrame(data, columns = data.columns.delete(0))
data

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
395,324,110,3,3.5,3.5,9.04,1,0.82
396,325,107,3,3.0,3.5,9.11,1,0.84
397,330,116,4,5.0,4.5,9.45,1,0.91
398,312,103,3,3.5,4.0,8.78,0,0.67
399,333,117,4,5.0,4.0,9.66,1,0.95

In [3]:
data_x = pd.DataFrame(data, columns = data.columns.delete(-1))
print("data_x.shape: {}".format(data_x.shape))
data_y = pd.DataFrame(data, columns = (data.columns[-1],))
print("data_y.shape: {}".format(data_y.shape))

data_x.shape: (400, 7)
data_y.shape: (400, 1)

In [4]:
import numpy as np
x_np = np.array(data_x)
print("x_np.shape: {}".format(x_np.shape))
y_np = np.array(data_y)
print("y_np.shape: {}".format(y_np.shape))

x_np.shape: (400, 7)
y_np.shape: (400, 1)

In [5]:
all_np = np.concatenate((x_np, y_np), axis = 1)
print("all_np.shape: {}".format(a))